Websites/WebSite14/App_WebReferences/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfapp.silicon-biztech.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfapp.silicon-biztech.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfapp.silicon-biztech.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService8" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_XMLDATA_InputMessage">
    <wsdl:part name="parameters" element="tns:XMLDATA" />
  </wsdl:message>
  <wsdl:message name="IService1_XMLDATA_OutputMessage">
    <wsdl:part name="parameters" element="tns:XMLDATAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JSONDATA_InputMessage">
    <wsdl:part name="parameters" element="tns:JSONDATA" />
  </wsdl:message>
  <wsdl:message name="IService1_JSONDATA_OutputMessage">
    <wsdl:part name="parameters" element="tns:JSONDATAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayersXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersXml" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayersXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayersJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersJson" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayersJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserDetails" message="tns:IService1_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserDetailsResponse" message="tns:IService1_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUserDetails" message="tns:IService1_InsertUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserDetailsResponse" message="tns:IService1_InsertUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XMLDATA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/XMLDATA" message="tns:IService1_XMLDATA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/XMLDATAResponse" message="tns:IService1_XMLDATA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JSONDATA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JSONDATA" message="tns:IService1_JSONDATA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JSONDATAResponse" message="tns:IService1_JSONDATA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayersXml" message="tns:IService1_GetPlayersXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayersXmlResponse" message="tns:IService1_GetPlayersXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayersJson" message="tns:IService1_GetPlayersJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayersJsonResponse" message="tns:IService1_GetPlayersJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLDATA">
      <soap:operation soapAction="http://tempuri.org/IService1/XMLDATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JSONDATA">
      <soap:operation soapAction="http://tempuri.org/IService1/JSONDATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersXml">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayersXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersJson">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayersJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://wcfapp.silicon-biztech.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>